<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>org.torchlens.menagerie-crawler.__CAMPAIGN_ID__</string>
  <key>ProgramArguments</key>
  <array>
    <string>__REPO_ROOT__/tools/crawler_supervisor.sh</string>
    <string>--python</string>
    <string>__PYTHON__</string>
    <string>run</string>
    <string>--campaign-id</string>
    <string>__CAMPAIGN_ID__</string>
    <string>--repo-root</string>
    <string>__REPO_ROOT__</string>
    <string>--campaign-config</string>
    <string>__CAMPAIGN_CONFIG__</string>
    <string>--author-queue</string>
    <string>__AUTHOR_QUEUE__</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__REPO_ROOT__</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ProcessType</key>
  <string>Background</string>
  <key>ThrottleInterval</key>
  <integer>30</integer>
</dict>
</plist>
